*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

 /* header navbar section css start */
 .navbar{
    background: #FFF8F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

}


.nav-logo h1{
    font-size: 33px;
    color: #000000;
    cursor: pointer;
    transition: 0.8s;
    padding-right: 80px;
}

.nav-logo h1:hover{
    color: tomato;
}

.nav-logo h1 span{
    font-size: 34px;
    color: #FD6E0A;
    transition: 0.8s;
}

.nav-logo h1 span:hover{
    color: tomato;
}


.nav-item ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item ul li{
    list-style-type: none;
    padding: 0 10px;
}

.nav-item ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    transition: 0.8s;
}

.nav-item ul li a:hover{
    color: tomato;
}


.nav-button button{
    padding: 10px 20px;
    border-radius: 2px;
    background: #FD6E0A;
    border: none;
    color: #ffffff;
    transition: 0.8s;
    font-size: 15px;
    font-weight: 500;
}

.nav-button button:hover{
    background: transparent;
    color: #000000;
    border: 1px solid #FD6E0A;
}

/* header navbar section css end */


/* Banner section css start */
.banner{
    background: #FFF8F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-text{
    padding-left: 200px;
}

.banner-text h3{
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
}

.banner-text h1{
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.banner-text p{
    font-size: 16px;
    margin-top: 10px;
}

.banner-text .btn{
    padding: 15px 25px;
    margin-top: 30px;
    background: #FD6E0A;
    color: #ffffff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
}

.banner-text .btn-2{
    padding: 15px 25px;
    margin-left: 20px;
    background: #FD6E0A;
    color: #ffffff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
}

.banner-image img {
    width: 584px;
    height: 676px;
}
/* Banner section css end */


/* about me section css start */

.about-me{
    padding: 60px;
    width: 70%;
    margin: 80px auto;
    background: #FFF8F3;

}

.about-text h1{
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}

.about-text p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
    line-height: normal;
}

.about-contact{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
}
/* about me section css end */



/* what i do section css start */
  .whatI-do{
    width: 70%;
    margin: 0 auto;
    background: #ffffff;
  }

  .whatI-do-text{
    text-align: center;
    padding: 10px;
  }

  .whatI-do-text h1{
    font-size: 35px;
    text-transform: capitalize;
  }

  .whatI-do-text p{
    margin-top: 20px;
    font-size: 16px;
    line-height: normal;
  }


  .whatI-do-card{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    gap: 15px;
  }

  .whatI-do-card .card-1{
    padding: 30px;
    width: 750px;
    height: 350px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
  }

  .whatI-do-card .card-1 h2{
    margin-top: 20px;
  }

  .whatI-do-card .card-1 p{
    margin-top: 20px;
  }

  .whatI-do-card .card-2{
    padding: 30px;
    width: 750px;
    height: 350px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
  }

  .whatI-do-card .card-2 h2{
    margin-top: 20px;
  }

  .whatI-do-card .card-2 p{
    margin-top: 20px;
  }


  .whatI-do-card .card-3{
    padding: 30px;
    width: 750px;
    height: 350px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
  }

  .whatI-do-card .card-3 h2{
    margin-top: 20px;
  }

  .whatI-do-card .card-3 p{
    margin-top: 20px;
  }


  .whatI-do-card .card-4{
    padding: 30px;
    width: 750px;
    height: 350px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
  }

  .whatI-do-card .card-4 h2{
    margin-top: 20px;
  }

  .whatI-do-card .card-4 p{
    margin-top: 20px;
  }
/* what i do section css end */




/* Resume section css start */
.resume{
    margin: 120px auto;
    width: 70%;
}

.resume-title h1{
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}

.reume-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    gap: 20px;
}

.reume-container .education .div-2{
    margin-top: 20px;
}

.reume-container .education .div-1 h1{
    font-size: 30px;
    text-transform: capitalize;
}

.reume-container .education .div-1 h2{
    margin-top: 15px;
}

.reume-container .education .div-1 p{
    margin-top: 15px;
}

.reume-container .education .div-3{
    margin-top: 20px;
}

.reume-container .education .div-2 h1{
    font-size: 30px;
    text-transform: capitalize;
}

.reume-container .education .div-2 h2{
    margin-top: 15px;
}

.reume-container .education .div-2 p{
    margin-top: 15px;
}

.reume-container .education .div-3 h1{
    font-size: 30px;
    text-transform: capitalize;
}

.reume-container .education .div-3 h2{
    margin-top: 15px;
}

.reume-container .education .div-3 p{
    margin-top: 15px;
}

/* resume experience */
.reume-container .experience .div-1 h1{
    font-size: 30px;
    text-transform: capitalize;
}

.reume-container .experience .div-1 h2{
    margin-top: 15px;
}

.reume-container .experience .div-1 p{
    margin-top: 15px;
}

.reume-container .experience .div-2{
    margin-top: 20px;
}


.reume-container .experience .div-2 h1{
    font-size: 30px;
    text-transform: capitalize;
}

.reume-container .experience .div-2 h2{
    margin-top: 15px;
}

.reume-container .experience .div-2 p{
    margin-top: 15px;
}

.reume-container .experience .div-3{
    margin-top: 20px;
}

.reume-container .experience .div-3 h1{
    font-size: 30px;
    text-transform: capitalize;
}

.reume-container .experience .div-3 h2{
    margin-top: 15px;
}

.reume-container .experience .div-3 p{
    margin-top: 15px;
}

.resume-hr{
    width: 80%;
    margin-top: 10px;
    color: gray;
    border: 1px solid grey;
}

.reume-btn{
    margin-top: 30px;
    text-align: center;
}

.reume-btn .btn-r{
    padding: 15px 30px;
    border: none;
    background-color: #FD6E0A;
    color: #FFF;
    border-radius: 2px;
}

/* Resume section css end */


/* footer section css start */
.footer{
    margin: 120px auto 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    background: #FFF8F3;
    padding: 100px 50px 100px 50px;
}

.footer-content{
    width: 50%;
}

.footer-content h1{
   font-size: 35px;
   text-transform: capitalize;
}

.footer-content p{
    margin-top: 20px;
}

.footer-content .icon{
    margin-top: 20px;
}

.footer-form{
    width: 50%;
}
.footer-form h1{
    font-size: 35px;
    text-transform: capitalize;
}

/* .footer-form input[type="text"]{
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
    background: #FFF;
}

.footer-form input[type="email"]{
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
}

.footer-form textarea{
    margin-top: 10px;
    width: 100%;
} */

.footer-form input[type="text"],  input[type="email"], textarea{
    margin-top: 10px;
    display: block;
    margin-bottom: 20px;
    padding: 15px 30px;
    color: gray;
    border: 0;
    border-radius: 2px;
    background: #FFF;
    width: 100%;
}

.footer-form input[type="submit"]{
    background: #FD6E0A;
    color: #FFF;
    padding: 15px 35px;
    border-radius: 2px;
    border: none;
}
/* footer section css end */